code, samp, kbd {
	text-align: left;
	color: #333;
	}
pre code {
	line-height: 1.6em;
	font-size: 15px;
	}
pre {
        background-color: #FFF9C4;
	padding: 2em 2em 2em 2em;
	border-left: 11px solid #FFD600;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	width: 93%;
	}
/* target IE7 and IE6 */
*:first-child+html pre {
	padding-bottom: 2em;
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto; 
	}
* html pre { 
	padding-bottom: 2em;
	overflow: visible;
	overflow-x: auto;
	}